.postsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  padding: 20px;
  margin-top: 20px;
  width: 500px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
}

.theme {
  font-family: 'Gilroy', sans-serif;
  color: #82b440;
  font-weight: 700;
  padding-bottom: 10px;
}

.date {

  color: #6c757d;

}
.avatar{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.main{
  padding-left: 70px;
}
.text{
 padding: 0;
  margin-bottom: 10px;
}