.app-wrapper {
  text-align: center;
  background-color: #ececec;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  'h h'
  'n c';
  /*width: 1440px;*/
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
;
}
.content{
  grid-area: c;
  margin: 20px;
  padding: 10px;
}
.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
